fact-stream-list md-item.active md-item-content p,
fact-stream-list md-item.active md-item-content h3 {
	font-weight: bold;
}

fact-stream-list fact-simple-slideshow {
	width: 56px;
	height: 56px;
}

fact-stream-list fact-simple-slideshow depiction {
	width: 50px;
	height: 50px;
	top: 3px;
	left: 3px;
	overflow: hidden;
	background-color: transparent;
	border-radius: 50%;
}

fact-simple-slideshow {
  display: block;
  position: relative;
}

fact-simple-slideshow depiction {
    position: absolute;
    display: block;
}

fact-simple-slideshow depiction img {
  width: 100%;
}

fact-simple-slideshow depiction.ng-hide-add,
fact-simple-slideshow depiction.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition:0s linear all;
}

fact-simple-slideshow depiction.ng-hide {
  line-height:0;
  opacity:0;
}

/* fade effect */
fact-simple-slideshow depiction.fade.ng-hide-add-active,
fact-simple-slideshow depiction.fade.ng-hide-remove-active {
  /* the transition is defined in the active class */
  transition:1s cubic-bezier(.55,0,.1,1) all;
}

/* rotate effect */
fact-simple-slideshow depiction.rotate.ng-hide-add-active,
fact-simple-slideshow depiction.rotate.ng-hide-remove-active {
  /* the transition is defined in the active class */
  transform: rotate(360deg);
  transform: 1s cubic-bezier(.55,0,.1,1) all;
}